<section class="mat-typography">
<mat-grid-list cols="1" rowHeight="800px" class="grid_list_login">
  <mat-grid-tile colspan="1" class="title">
    <mat-card class="md_card_login">
      <mat-card-title>
        <h2 class="display-4">Facturation</h2>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content >
        <!--<mat-grid-list class="option" cols="8" rowHeight="40px">-->
          <!--<mat-grid-tile colspan="8" rowspan="1">-->
          <!--</mat-grid-tile>-->
          <!--<div class="content-info-perso"></div>-->
          <!--<mat-grid-tile  colspan="4" rowspan="4">-->
<!--<mat-card class="card_inf">-->
                <!--<p>{{nom}}</p>-->
                <!--<p>{{adresse}}</p>-->
                <!--<p>{{courriel}}</p>-->
<!--</mat-card>-->
          <!--</mat-grid-tile>-->

          <!--<mat-grid-tile colspan="4" rowspan="4">-->

            <!--<mat-card class="card_inf">-->
              <!--<p>Club des ornithologues de l&#39;Outaouais</p>-->
              <!--<p>C.P. 1419, Succ. Hull, Gatineau (Québec) - J8X 3Y1-->
                <!--Tél.: (819) 778-3413 Tc.: (819) 682-6177</p>-->
              <!--<p>info@coo.qc.ca</p>-->


            <!--</mat-card>-->
          <!--</mat-grid-tile>-->
          <!--<mat-grid-tile class="content-info-perso" colspan="8" rowspan="0"></mat-grid-tile>-->

        <!--</mat-grid-list>-->



        <make-payment class="paiement"></make-payment>
        <send-email></send-email>
      </mat-card-content>
      <mat-card-footer>
        <mat-grid-list class="footerButton" cols="3" rowHeight="50px">
          <mat-grid-tile colspan="3">

          </mat-grid-tile>
        </mat-grid-list>


      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</section>
