.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}
.content-info-perso{
  font-size: medium ;
  text-align: left;
}


.infoPersoCard {
  min-width: 450px;
  position: absolute;
  left: 20px;
}

.card_implication{
  min-width: 450px;
  position: absolute;
  left: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  color: #673AB7;
  font-size: medium ;

}

